---
import MainLayout from "../layouts/MainLayout.astro";
import { getCollection } from "astro:content";
const employers = await getCollection('employers');
const title = "Resume";
const updated = "2024-07-19";
const related = {
  About: "/about",
  Portfolio: "//hire.stevedv.com",
  LinkedIn: "//www.linkedin.com/in/sdvim",
};
const dateRange = (startString: string, endString: string) => {
  const [startYear, startMonth] = startString.split('-');
  if (endString) {
    const [endYear, endMonth] = endString.split('-');
    return `${startMonth}/${startYear} — ${endMonth}/${endYear}`;
  } else {
    return `${startMonth}/${startYear} — present`;
  }
};
---

<MainLayout content={{ title, updated, related }}>
  {
    employers.reverse().map((company) => (
      <article style="border-bottom: 1px dotted">
        <h3 style="display: flex; justify-content: space-between;">
          <strong>{company.data.name}</strong>
          <small>
            {company.data.industry}
            &nbsp;&bullet;&nbsp;
            {company.data.location}
          </small>
        </h3>
        {company.data.roles.map((role) => (
          <p style="display: flex; justify-content: space-between;">
            <span>
              {role.team ? `${role.title}, ${role.team}` : role.title}
            </span>
            <date>{dateRange(role.startDate, role.endDate)}</date>
          </p>
          <ul>
            {role.highlights?.map((highlight: string) => (<li>{highlight}</li>))}
          </ul>
        ))}
      </article>
    ))
  }
</MainLayout>
