---
import BaseLayout from '../layouts/base.astro';
import { experiences } from '../data/resume.json';
const title = 'Resume';
const updated = new Date('2022-06-21');
const dateRange = (start, end) => {
  const startDate = new Date(start);
  const endDate = new Date(end);
  const sM = startDate.getMonth()+1;
  const sY = startDate.getFullYear();
  const eM = endDate.getMonth()+1;
  const eY = endDate.getFullYear();

  return `${sM}/${sY} — ${eM}/${eY}`;
}
---

<BaseLayout content={{title, updated}}>
  {experiences.map(({position, company, description}) => (
    <article>
      { !company.skip && (
      <h3 style="display: flex; justify-content: space-between;">
        <strong>{company.name}</strong>
        <small>
          {company.industry}
          &nbsp;&bullet;&nbsp;
          {company.location}
        </small>
      </h3>
      )}
      <p style="display: flex; justify-content: space-between;">
        <span>{position.title}{position.team ? `, ${position.team}` : ""}</span>
        <date>{dateRange(position.startDate, position.endDate)}</date>
      </p>
      <ul>
        {description.map((item) => (
          <li>{item}</li>
        ))}
      </ul>
    </article>
  ))}
  <h3>Related pages</h3>
  <ul>
    <li>
      <a href="/about">About</a>
    </li>
    <li>
      <a href="//hire.stevedv.com">Portfolio</a>
    </li>
    <li>
      <a href="//www.linkedin.com/in/sdvim">LinkedIn</a>
    </li>
  </ul>
</BaseLayout>